.dados-container {
  flex-direction: column;
}

.condicao-eleitoral {
  height: 30%;
  align-items: flex-end;
}

.sigla-text {
  height: 100%;
  font-size: 100px;
  font-weight: bolder;
}

.text-condicao-atual text {
  font-weight: bolder;
  border: none;
  padding: 3px 20px 3px 20px;
  border-radius: 50px;
  color: white;
  background-color: #18593b;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
}
