.perfil {
  width: 100vw;
  height: 100vh;
  display: flex;
}
.perfil-sidebar {
  margin-top: 2vh;
  border-radius: 0px 20px 20px 0px;
  width: 20vw;
  height: 100vh;
  background-color: #18593b;
  padding: 2%;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
}
.perfil-sidebar p {
  color: white;
}

.perfil-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.perfil-content-row {
  display: flex;
  flex: 1;
}

.perfil-content-row div {
  margin: 2.5vh;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  flex: 1;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  /* box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15); */
}

.sigla-text {
  font-size: 5vw;
  font-weight: bolder;
}
