@font-face {
  font-family: "montserrat-medium";
  src: url("./assets/Montserrat/static/Montserrat-Medium.ttf")
    format("truetype");
}

@font-face {
  font-family: "inter-extrabold";
  src: url("./assets/Inter/static/Inter-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "inter-bold";
  src: url("./assets/Inter/static/Inter-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "inter-medium";
  src: url("./assets/Inter/static/Inter-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "inter-light";
  src: url("./assets/Inter/static/Inter-Light.ttf") format("truetype");
}
